<h1>Profile</h1>
<p>You have {{ subscriberCount }} subscribers.</p>

<hr>

<h2>Subscribe to Users</h2>
<div *ngIf="successes.length">
    <ul>
        <li *ngFor="let success of successes">{{ success }}</li>
    </ul>
</div>
<div *ngIf="errors.length">
    <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
</div>
<form (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="subscribeForm.server" name="server" placeholder="Server" required>
    <input type="text" [(ngModel)]="subscribeForm.creatorName" name="creatorName" placeholder="Username" required>
    <button type="submit">Subscribe</button>
</form>
